* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{

    background-color: #ccc;
}
::-webkit-scrollbar-thumb{

    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

section{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    scroll-snap-align: start;

}


.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.page{

    background-color:whitesmoke;
    
}

.page a{
    color: #000;
    font-size: 3vw;
    text-shadow: 2px 2px blue;
    transition: 0.7s;
    text-decoration: none;
    display: block;
}
.products{
    margin: 0 5%;
    padding-top: 46vh;

}

.p1, .p2, .p3, .p4{
    height: 100vh;
    width: 25vw;
    text-align: center;
    margin: 0;;
    
}
.p1:hover{
    height: 100vh;
    width: 25%;
    background-image: url("../break.png");
    text-align: center;

}
.p2:hover{
    height: 100vh;
    width: 25%;
    background-image: url("../car.png");
    text-align: center;
    
}
.p3:hover{
    height: 100vh;
    width: 25%;
    background-image: url("../wheel.png");
    text-align: center;
    
}
.p4:hover{
    height: 100vh;
    width: 25%;
    background-image: url("../turbo.png");
    text-align: center;
    
}




.page1 .p1{
    height: 100vh;
    width: 25%;
    background-image: url("../break.png");
    background-size: cover;
    text-align: center;

}
.page1 .p2{
    height: 100vh;
    width: 25%;
    background-image: url("../car.png");
    background-size: cover;
    text-align: center;
    
}
.page1 .p3{
    height: 100vh;
    width: 25%;
    background-image: url("../wheel.png");
    background-size: cover;
    text-align: center;
    
}
.page1 .p4{
    height: 100vh;
    width: 25%;
    background-image: url("../turbo.png");
    background-size: cover;

    text-align: center;
    
}








.p1 a, .p2 a, .p3 a, .p4 a{
    margin-top: 47vh;

}

.page1 a{
    color: rgb(0, 150, 0);
    text-shadow: 16px 16px rgb(255, 255, 255);
    cursor: pointer;
    filter:none;
    opacity: 0.5;}

.page a:hover{
    text-shadow: 2px 2px rgb(0, 0, 0);
    cursor: pointer;
    opacity: 1;
    background-size: cover;

}
.page2{
    background: url("../car.jpg");
    background-size: cover;
}
.page:nth-child(even){
    background-color:rgb(255, 255, 255);

}

.page:nth-child(even) a{

    color: rgb(219, 0, 0);
    text-shadow: 25px 25px   rgb(255, 255, 255);
}
.page:nth-child(even) a:hover{
    text-shadow: 2px 2px  rgb(0, 0, 0);
    cursor: pointer;
}
